{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}留言板{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">新建留言</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="blog-box">
  {% for post in posts %}
    <article class="post">
      <header>
          <h2>{{ post['title'] }}</h2>
          <div class="about">用户 {{ post['username'] }} 于 {{ post['created'].strftime('%Y年%m月%d日') }} 发布</div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">编辑</a>
        {% endif %}
      </header>
      <p>{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <!-- <hr color="darkslategray"> -->
    {% endif %}
  {% endfor %}
</div>
{% endblock %}